body{
	background-color: white !important;
}

.padding{
	padding: 10px;
}

.center {
	margin: auto;
}

.textcolor{
	color: white !important;
}

.no-display{
	display: none !important;
}

.right{
	float: right !important;
}
