<template>
	<form role="form" @submit.prevent="submit" enctype="multipart/form-data">

        <p v-if="errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>

          <label for="customers">Select Customer</label>
              <v-select class="style-chooser" :options="customers" @search="fetchOption" @input="addCustomer">
                    <template slot="no-options">
                      type to search customers..
                    </template> 
              </v-select>
          <br> 
          

           <label for="store">Select Store</label>
              <v-select class="style-chooser" @input="addStore" :options="stores" @search="fetchOptionOfStore">
                    <template slot="no-options">
                      type to search stores..
                    </template> 
              </v-select>

          <br>
            <label for="products">Select Product</label>
              <v-select class="style-chooser" @input="setSelected" :options="list" @search="fetchOptions">
                  <template slot="no-options">
                    type to search products..
                  </template> 
              </v-select>   
    <br>
    <table class="table">
      <thead class="thead-light">
        <th>Product Code</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Product Cost</th>
        <th>Stock</th>
        <th>Remove</th>
      </thead>
      <tbody id="product_table_body"></tbody>
    </table>


    <div class="form-group">
      <label for="exampleFormControlInput1">Reference Number</label>
      <br>
      <input class="form-control" id="exampleFormControlInput1" type="number" v-model="form.referenceNumber" placeholder="Enter Reference Number">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Delivery Note</label>
      <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="Enter Delivery Note" v-model="form.deliveryNote">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Order Status</label>
      <input class="form-control" v-model="form.orderStatus" type="checkbox">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Payment Status</label>
      <input class="form-control" v-model="form.paymentStatus" type="checkbox">
    </div>

    <div>
        <input type="submit">
    </div>
</form>
</template>

<style>
    .style-chooser .vs__search::placeholder,
  .style-chooser .vs__dropdown-toggle,
  .style-chooser .vs__dropdown-menu {
    background: #ffffff;
    border: black solid 1px;
    color: #394066;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  .style-chooser .vs__clear,
  .style-chooser .vs__open-indicator {
    fill: #394066;
  }
</style>

<script>
  import axios from 'axios';
	export default {
		data() {
			return{
        type: "submit",
        errors: [],
        form: {products: [], customer_id: '', store_id: ''},
        action: "/orders/store",
        list: [],
        customers: [],
        stores: [],
        errors: {}
			}
		},
    methods: {
      submit: function (e) {
        var products = [];
        $('#product_table_body  > tr').each(function(index, tr) { 
            products.push({
              product_id: $(this).find('#product_id').val(),
              quantity: $(this).find('#product_qty').val(),
              cost: $(this).find('#product_cost').val(),
            })
        });
        this.form.products = products;
        axios.post(this.action, this.form)
          .then(response => {
              this.form = {};
          })
          .catch(error => {
              if (error.response.status === 422) {
                  this.errors = error.response.data.errors || {};
              }
          });
      },
      setSelected(value) {
            $('#product_table_body').append(`<tr id="product_`+ value.code +`">
              <input id="product_id" type="hidden" value="`+ value.code +`">
              <td><p>`+ value.product_code +`</p></td>
              <td><p>`+ value.label +`</p></td>
              <td><input id="product_qty" type="number"></td>
              <td><p>`+ value.cost +`</p></td>
              <td><p>`+ value.stock +`</p></td>
              <td><button class="btn btn-danger btn-sm" onclick="remove(`+ value.code +`)"><i class="fa fa-trash"></i></button></td>
              </tr>`)
        },
        fetchOptions (search, loading) {
          loading(true);
          axios.get("/products/fetch?search=" + search)
          .then(response => {
                this.list = response.data;
                loading(false);
          })
          .catch(error => {
                this.list = [];
                loading(false);
          });
        },
        fetchOption (search, loading) {
          loading(true);
          axios.get("/customers/fetch?search=" + search)
          .then(response => {
                this.customers = response.data;
                loading(false);
          })
          .catch(error => {
                this.customers = [];
                loading(false);
          });
        },
        addCustomer(value) {
          this.form.customer_id = value.code;
        },
        addStore(value) {
          this.form.store_id = value.code;
        },
         selectedstore(value) {
            $('#store_body').append(`<tr id="store_`+ value.code +`">
              <td>`+ value.label +`</td>
              <td> <button class="btn btn-danger btn-sm" onclick="removeStore(`+ value.code +`)"><i class="fa fa-trash"></i></button></td>
              </tr>`)
        },
        fetchOptionOfStore (search, loading) {
          loading(true);
          axios.get("/stores/fetch?search=" + search)
          .then(response => {
                this.stores = response.data;
                loading(false);
          })
          .catch(error => {
                this.stores = [];
                loading(false);
          });
        },
    }
	}
</script>