<template>
  <div>
    <b-table striped hover :items="items" :fields="fields"></b-table>
  </div>
</template>

<script>
import BootstrapVue from 'bootstrap-vue'
import axios from 'axios'
  export default {
    data() {
      return {
        // Note `isActive` is left out and will not appear in the rendered table
        fields: ['userId', 'id', 'title', 'completed'],
        items: []
      }
    },

  mounted () {
    axios.get('https://jsonplaceholder.typicode.com/todos')
      .then((response) => {
        this.items = response.data
      })
      .catch((error) => {
        console.log(error)
      })
  }

  }
</script>
