<template>
	<div class="overflow-auto">
   <b-table  hover :items="items" :fields="fields">
   </b-table>
    </div>
</template>

<script>
import BootstrapVue from 'bootstrap-vue'
import axios from 'axios'

export default {
  data() {
      return {
        fields: ['id', 'product_code', 'product_name', 'description', 'cost', 'stock', 'created_at', 'updated_at'],
        items: [],
      }
    },
	  mounted () {
    axios.get('/allproducts')
      .then((response) => {
        this.items = response.data
      })
      .catch((error) => {
        console.log(error)
      })
  }
}
</script>
